@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
body {
  color: #f288cf;
  font-family: monospace;
  transition: 0.3s linear;
  background-color: rgb(254, 156, 203);
}
#todo-container{
    background-color: rgb(250, 200, 225);
    padding: 20px;
    border-radius: 50px;
    border: 4px dashed rgb(246, 111, 179); 
}
.carton {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(254, 156, 203);
    transition: 0.3s linear;
}
.btn-warning{
    color: white;
    background-color: rgb(160, 225, 231);         
    border-color: rgb(160, 225, 231);
}
.btn-warning:hover {
  background-color:  rgb(69, 138, 144);
  border-color: rgb(69, 138, 144);
}
.btn-primary {
  background-color: rgb(160, 225, 231); 
  border-color: rgb(160, 225, 231);
}

.btn-primary:hover {
  background-color:  rgb(69, 138, 144);
  border-color: rgb(69, 138, 144);
}

/* Changer la couleur du bouton Terminé */
.btn-success {
  background-color: rgb(143, 226, 190);
  border-color:  rgb(143, 226, 190);
}

.btn-success:hover {
  background-color:rgb(72, 171, 128);
  border-color:rgb(72, 171, 128);
}

.btn-secondary{
    background-color: #f288cf;
    border-color: #f288cf;
}
.btn-secondary:hover{
  background-color: #ba4393;
  border-color: #ba4393;
}
.btn-danger {
  background-color: #f288cf;
  border-color: #f288cf;
}

.btn-danger:hover {
  background-color: #ba4393;
  border-color: #ba4393;
}
.btn-outline-primary{
    color: #f288cf;
    border: 1px solid #f288cf;
}
.btn-outline-primary:hover{
    background-color: #f288cf;
    color: white;
    border: 1px solid #f288cf;
}
/* Liste des tâches */
.list-group-item {
  border-radius: 0.5rem;
  margin-bottom: 0.3rem;
}

/* Input */
.input-group .form-control {
  border-radius: 0.5rem 0 0 0.5rem;
}
.input-group .btn {
  border-radius: 0 0.5rem 0.5rem 0;
}

/* mode clair -----------------------*/
.light-container {
  background-color: rgb(250, 200, 225);
  padding: 20px;
  border-radius: 50px;
  border: 4px dashed rgb(246, 111, 179);
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

/* mode sombre */
.dark-container {
  background-color: #222;
  padding: 20px;
  border-radius: 50px;
  border: 4px dashed #888;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}
